<div
  [ngClass]="{
    'card shadow rounded-0 bd-callout': true,
    'bd-callout-success': todo.successfully,
    'bd-callout-warning': !todo.successfully
  }"
>
  <ng-template [ngIf]="onEdit">
    <app-edit-todo-form [todo]="todo"></app-edit-todo-form>
  </ng-template>
  <ng-template [ngIf]="!onEdit"
    ><div class="card-body d-flex justify-content-between align-items-center">
      <span>{{ todo.todo }}</span>
      <div class="btn-group">
        <button class="btn btn-outline-info" (click)="toggleTodoSuccess()">
          <i
            [ngClass]="{
              'bi-toggle2-on': todo.successfully,
              'bi-toggle2-off': !todo.successfully
            }"
          ></i>
        </button>
        <button class="btn btn-primary" (click)="handleClickEdit()">
          <i class="bi-pencil-square"></i>
        </button>
        <button class="btn btn-danger" (click)="deleteTodo()">
          <i class="bi-trash"></i>
        </button>
      </div></div
  ></ng-template>
</div>
