<div class="card-body d-flex justify-content-between align-items-center">
  <form class="flex-fill" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="input-group has-validation">
      <input
        type="text"
        [ngClass]="{ 'form-control': true, 'is-invalid': !!error }"
        formControlName="todo"
        (ngModelChange)="handleChangeInput($event)"
      />
      <button class="btn btn-primary" type="submit">
        <i class="bi-save"></i>
      </button>
      <button
        class="btn btn-danger"
        type="button"
        (click)="handleClickCloseEdit()"
      >
        <i class="bi-x"></i>
      </button>
      <div class="invalid-feedback" *ngIf="!!error">{{ error }}</div>
    </div>
  </form>
</div>
