<div class="border shadow p-3 mb-4">
  <div class="d-flex justify-content-end">
    <button
      class="btn-close btn-sm text-black-50"
      (click)="closeFormInForm()"
    ></button>
  </div>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="mt-3 mb-4">
      <input
        type="text"
        [ngClass]="{
          'form-control form-control-lg': true,
          'is-invalid': !!error
        }"
        id="todo"
        placeholder="Enter new todo"
        formControlName="todo"
        (ngModelChange)="onTodoChange()"
      />
      <ng-template [ngIf]="error">
        <div class="invalid-feedback">Required</div>
      </ng-template>
    </div>
    <button class="btn btn-secondary">
      <i class="bi-save"></i>
    </button>
  </form>
</div>
