<div class="container">
  <div class="mw-576 my-4 mx-auto">
    <ng-template [ngIf]="!isOpenAddForm">
      <div class="mb-4 d-flex justify-content-end">
        <button class="btn btn-success" (click)="openAddForm()">
          <i class="bi-plus-lg"></i>
        </button>
      </div>
    </ng-template>

    <ng-template [ngIf]="isOpenAddForm">
      <app-add-todo-form
        (closeForm)="closeAddForm()"
        (addTodoInForm)="addTodo($event)"
      ></app-add-todo-form>
    </ng-template>

    <div
      class="alert alert-danger text-center"
      [ngClass]="{
        'alert text-center': true,
        'alert-danger': taskRemaining !== 0,
        'alert-success': taskRemaining === 0
      }"
    >
      {{ taskRemaining }} Task Remaining
    </div>

    <div *ngFor="let todo of TodoList; let i = index">
      <app-list
        [todo]="todo"
        [index]="i"
        (deleteTodoEvent)="deleteTodo($event)"
        (updateTodoEvent)="updateTodo($event)"
      ></app-list>
    </div>
  </div>
</div>
